@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #ffffff;
  background-color: #121212;
  text-decoration: none;

}
